{% extends 'registration/base.html'%}
{%block mainblock%}

<style>
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* Rounded border */
hr.rounded {
  border-top: 8px solid lightblue;
  border-radius: 5px;
}
</style>
<div class="row">
    <div class="col-sm-3 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">Total Customers</h4>
                <h5 style="color : #F1948A">{{user.count}}</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'userlist'%}" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">Total drivers</h4>
                <h5 style="color : #F1948A">{{product.count}}</h5>
            </div>
            <div class="card-footer">
                <a href="{%url 'driver_list' %}" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">User Complaints</h4>
                <h5 style="color : #F1948A">{{category.count}}</h5>
            </div>
            <div class="card-footer">
                <a href="{%url 'compliantlist'%}" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">User Area</h4>
                <h5 style="color : #F1948A"> {{new_order.count}}</h5>
            </div>
            <div class="card-footer">
                <a href="{%url 'user_location'%}" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>

   
</div>


{%endblock%}